@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* style shared */

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}


/* dark 2 */
.text-gray {
    color: #424242;
}


/* dark 3 */

.text-alight-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* mavbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: ;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* small device responsive */

@media screen and (max-widt:576px) {

    .nav-links,
    .navbar {
        flex-direction: column;
    }
}